<MudHidden Breakpoint="Breakpoint.LgAndUp" Invert="true">
    <MudPaper Class="pa-8 mt-2 d-flex ;" Style="; flex-wrap: wrap; height: 126px;align-items: center" Elevation="3">
        <div>
            <p> افزودن دسته محصول</p>

        </div>
        <div style="margin-right: auto">
            <MudButton Style="height: 56px" Color="Color.Success" Variant="Variant.Filled" >افزودن</MudButton>

        </div>


    </MudPaper>
</MudHidden>
<MudHidden Breakpoint="Breakpoint.Md" Invert="true">
    <MudPaper Class="pa-8 mt-2 d-flex ;" Style=" ; flex-wrap: wrap; height: 188px;align-items: center" Elevation="3">
        <div>
            <p> افزودن دسته محصول</p>

        </div>
        <div style="margin-right: auto">
            <MudButton Style="height: 56px" Color="Color.Success" Variant="Variant.Filled">افزودن</MudButton>

        </div>


    </MudPaper>
</MudHidden>
<MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
    <MudPaper Class="pa-8 mt-2 d-flex ;" Style=" ; flex-wrap: wrap; align-items: center" Elevation="3">
        <div>
            <p> افزودن دسته محصول</p>

        </div>
        <div style="margin-right: auto">
            <MudButton Style="height: 56px" Color="Color.Success" Variant="Variant.Filled">افزودن</MudButton>

        </div>


    </MudPaper>
</MudHidden>
@code {

}
