@page "/shop/category/"
@using BlazorAdmin.Components.Shop.ProductCategory
@using BlazorAdmin.Components.Shop.Shared
@using BlazorAdmin.Model
<div style="display: flex">
    <MudBreadcrumbs Class="pt-0 mb-10" Items="_items"></MudBreadcrumbs>

</div>
<MudGrid Style="">
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
        <MudItem sm="12" md="6" lg="5" Style="width: 100%">
            <AddCategoryPanel></AddCategoryPanel>
        </MudItem>
        <MudItem sm="12" md="6" lg="7" Style="width: 100%">
            <SearchPanel/>
        </MudItem>

        <MudItem sm="12" md="12" lg="12" Style="width: 100%">
            <DataTable/>
        </MudItem>
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
        
        <MudItem sm="12" md="6" lg="7" Style="width: 100%">
            <SearchPanel />
        </MudItem>
        <MudItem sm="12" md="6" lg="5" Style="width: 100%">
            <AddCategoryPanel></AddCategoryPanel>
        </MudItem>
        <MudItem sm="12" md="12" lg="12" Style="width: 100%">
            <DataTable />
        </MudItem>
    </MudHidden>
</MudGrid>








@code {
    private List<string> col { get; set; }
    private List<text> El { get; set; }
    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("صفحه اصلی", href: "/"),
        new BreadcrumbItem("محصولات",href:null,disabled:true),
        new BreadcrumbItem("دسته محصولات", href: "/shop/category/")
    };

    protected override void OnInitialized()
    {
        col = new() { "Id","Name","Image" ,"Creation Date"};
        El = new()
        {
            new text()
            {
                CreationDate = "12:50",
                Id = 1,
                ImageSrc = "Image/Test1",
                Name = "ali"
            },
            new text()
            {
                CreationDate = "12:51",
                Id = 2,
                ImageSrc = "Image/Test2",
                Name = "sadegh"
            },
            new text()
            {
                CreationDate = "12:52",
                Id = 3,
                ImageSrc = "Image/Test3",
                Name = "reza"
            },
            new text()
            {
                CreationDate = "12:52",
                Id = 3,
                ImageSrc = "Image/Test3",
                Name = "reza"
            }
        };
    }

}