@inherits LayoutComponentBase


<div id="wrapper">

    <TopBar/>
    <LeftSideBar/>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
       
        @Body
        <Footer></Footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

    <RightSideBar/>

</div>

@code
{
    [Inject]
    public IJSRuntime JsRuntime { get; set; }

  

    protected override async Task OnInitializedAsync()
    {

        

            await JsRuntime.InvokeVoidAsync("AddSrc");

        
    }





}